@page "/home"
@inherits ExtendedComponentBase

<h1>@Localizer["Hello, world!"]</h1>
<p>@CultureInfo.CurrentUICulture</p>

Welcome to your new app.

<NavLink class="nav-link" href="index">
    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Index
</NavLink>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        SetTitle("Home");
    }
}
