@page "/"
@using Dismissal_Appointment.Services
@inject ILocalizationService Localizer
@inject IPageTitleService PageTitleService

<h1>@Localizer["Hello, world!"]</h1>
<p>@Localizer.CurrentCulture</p>

Welcome to your new app.

@code {
    protected override void OnInitialized()
    {
        PageTitleService.SetTitle("Home");
    }
}
